<?php

class AppController extends Controller 
{
    var $persistModel = false;
    var $layout = 'app';
    function beforeFilter() {
        if ( !empty($this->params['admin']) ) {
            $this->layout = 'default';
        }
    }
}